*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

nav{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    background-color:#00B4D8;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}
nav li{
    height: 50px;
    display: flex;
}
nav a{
    height: 100%;
    width: 100%;
    padding:0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: clamp(1rem, 2.5vw,1.01rem);
   
}nav li:nth-child(2){
    margin-right: auto;
}
.logo{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position: static;
    margin-left: 50px;
}

.sidebar{
    position: fixed;
    top:0;
    margin-top: 0;
    right: 0;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:0;
  background-color: #90E0EF;
}.sidebar li, .sidebar a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: clamp(1rem, 2.5vw,1.5rem);
}



.schoolname{
    font-size: clamp(1rem, 2.5vw,1.4rem);
    font-weight: bold;
}
.homeSection{
    height: 100vh;
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}.strandSection{
    height: 100vh;
}
.tagline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.tagline {
    width: 60%;
    height: 40%;
    padding: 20px; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255,255,255,0.25);
}.text-container{
    text-align: center;
}.juanitostagline{
    font-size: clamp(1.3rem,2.5vw, 1.5rem);
}
.learnmoreButton{
    border: none;
    padding: 10px 15px;
    background-color: #00B4D8;
    border-radius: 5px;
    margin-top: 15px;
    transition: transform 0.3s ease-in-out;
    
}
.learnmoreButton:hover{
    transform: scale(1.5);


}.try{
    height:100vh;
    width: 100%;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255,255,255,0.25);
}
.strandSection{
    height: 100vh;
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.backgroundstrands{
    height:100vh;
    width: 100%;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255,255,255,0.25);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.strand-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

.strand-box {
 height: 300px;
 background-color: #0077B6;
 border-radius: 10px;
 padding: 15px 15px;
 cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: center;

 

}
.strand-box:hover{
    transform: scale(1.1);


}

.strands{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 2.5vw, 1.6rem);
    margin-bottom: 20px;
    font-weight: bold;
}
.strand-description{
    font-size: clamp(.7rem, 2.5vw, 1.1rem);
    text-align: center;
}.strand-title{
   display: flex;
   justify-content: center;
   align-items: center;
    font-size: clamp(.9rem, 2.5vw, 1.3rem);
}
.featured-section{
    height: 100vh;
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}.featured{
   text-align: center;
   line-height: 30px;
    height: 100%;
    width: 100%;
    margin-top: 20%;
}.featured-container{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.AboutUsText{
    font-size: 1.3rem;
    margin-top: 20px;
    
}
.enrollment-section{
    height: 100vh;
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.steps-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slides{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 10px;

}
.slide{
    background-color: black;
    height: 300px;
    align-content: center;
   
   
}


    
.contact-section{
    height: 100vh;
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}.Main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
}.input-container{
    display: flex;
    justify-content: center;
    align-items: center;

}.personalinfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 30%;
}
input{
    padding: 10px 30px;
   flex: 1;
 
}.message{
    height: 100%;
    margin-left: 20px;
}.personalMessage{
   flex: 1;
}input, .personalMessage{
    border-radius: 30px;
}.sendButton{
    padding: 10px 15px;
    border-radius: 30px;
}
* {
  box-sizing: border-box;
}



.form-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
   width: 100%;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255,255,255,0.25);
  
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: scale .3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.2);
}

.row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  min-width: 150px;
}.try2{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
}.featured{
    max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}.featured p{
   font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: 1.6;

}.featured h1{
     font-size: clamp(1.5rem, 2.5vw, 2rem);
  margin-bottom: 10px;
}
.steps-container{
    align-content: center;

}
.slides{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 15px;

}
.slide{
    height: 300px;
   flex-grow: 1;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.25);
}

@media screen and (max-width:767px) {
     .hideOnmobile{
        display: none;
     }.logo{
        margin-left: 0;
     }
     .strand-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 6px;
        }

        .strand-box {
        height: 100%;
        background-color: #0077B6;
        border-radius: 10px;
        }
        .input-container{
        display: flex;
        flex-direction: column;
        }
        .featured{
            font-size:12px;
        }
        .slides{
            flex-direction: column;
            height: 100%;
        
        }.slide{
            height: 200px;
            width:400px;
        }
    }

        
@media screen and (min-width:767px) and (max-width:1023px){
    .hideOnmobile{
      
        padding: 7px;
     }.logo{
        margin-left: 0;
     }.strand-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 7px;
        }

        .strand-box {
        height: 200px;
        background-color: #0077B6;
        border-radius: 10px;
        }
         .slides{
            flex-direction: column;
            height: 100%;
        
        }.slide{
            height: 300px;
            width:500px;
        }

    
}
@media screen and (min-width:1024px){
  
    
}
@keyframes globalFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body * {
  opacity: 0;
  animation: globalFadeIn 0.4s ease-in-out forwards;
  
}
.enroll-list{
    list-style: circle;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #00B4D8;
}
footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 50px;
    

}
footer ul li a{
    text-decoration: none;
    color:black;
}



    
    
